# Python
__pycache__/
*.pyc

# 虚拟环境
venv/
.env

# 数据文件
*.pdf
*.zip

# 项目数据目录
data/
download/
output/
temp/
split/

# 日志
*.log
logs/
TODO.md

# 数据库
*.db

# 系统文件
.DS_Store
Thumbs.db

# 编辑器
.vscode/
.idea/

# Node（如果有前端）
node_modules/
.next/